*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Kalam', cursive;
    background: url("images/bg-main.png");
    color: #CEE9E6
    /* Hex Codes: #461E52 | #DD517F | #E68E36 | #556DC8 | #7998EE. -Cyberpunk vibes
    bg-main- #001224 | #006157 | #003345 | #00926D  | #BDD3CC */
}


::placeholder{
    font-size: 0.9rem;
    color: blue;
    font-family: 'Kalam', cursive;
}

input{
    display: block;
    width: 100%;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 4rem;
    font-size: 1.2rem;
    outline: none; 
    background-color: #ffffff66;
    box-shadow: 3px 8px 15px #D9DADE, -10px -8px 15px #FFFFFF;
}


button{
    display: block;
    margin: auto;
    padding: 1rem;
    border-radius: 4rem;
    font-size: 1rem;
    cursor: pointer;
    outline: none; 
    background-color: #ffffff66;
    box-shadow: 3px 8px 15px #D9DADE, -10px -8px 15px #FFFFFF;
}

#output{
    place-content: center;
    place-items: center;
    /* display: block; */
    margin: 2rem;
    margin-top: 2rem;
    padding: 1rem;
    font-size: 2rem;
    outline: none; 
    background-color: #ffffff66;
    box-shadow: 3px 8px 15px #D9DADE, -10px -8px 15px #FFFFFF;
}

section{
    display: flex;
    /* justify-content: space-around; */
    max-width: 80%;
    margin: 4rem 10% 4rem 10%;
    height: 110vh;
    background-color: #ffffff66;
    box-shadow: 3px 8px 15px #D9DADE, -10px -8px 15px #FFFFFF;
    /* backdrop-filter: blur(3rem); */
    border-radius: 1rem;
}


.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    margin: auto auto auto 1rem;
    padding: 1rem;
}

.content{
    width: 400px;
    height: 40vh;
    margin-top: 1rem;
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    align-items: center;
}

.content p {
    margin: 1rem 0;
    font-size: 1.5rem;
}

.contentreverse{
    justify-content: center;
    color: aliceblue;
    margin-top: 1rem;
    padding: 0;
    border-color: inherit;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    align-items: center;
}

img{
    max-width: 750px;
    margin-top: 7rem;
}

.navigation{
    font-size: 3rem;
    padding: 2rem;
    text-align: center;
    color: #CEE9E6;
}

.navigation .nav-pills {
    text-align: right;
    font-size: 2rem;
    color: #CEE9E6;
}

.ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    
}

/** lists **/
.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.4rem;
}

.link {
    box-sizing: border-box;
    text-decoration: none;
    width: max-content;
    min-width: 140px;
    border-radius: 0.5rem;
    padding: 0.5rem 0.6rem 0.5rem 0.6rem;
    color: #CEE9E6;
    /* margin: 1rem  0rem; */
}

@media only screen and (max-width: 600px) {
    img{
        display: none;
    }
    .content{
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .contentreverse{
        width: auto;
        height: auto;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
